<%- include("./include/header") %>
<div class="container" style="margin-top: 25vh;">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                    <img src="https://media.discordapp.net/attachments/930143981021589574/969973366641557544/PKWLOGO.png"
                        width="70" height="70" class="img-fluid" alt="PKW Logo" />
                    <h3>ลืมรหัสผ่าน</h3>
                    <h4>PKW STRENGTHENS SOCIETY</h4>
                    </div>
                    <div class="text-center">
                        <button id="getotp" type="button" class="btn btn-secondary">ขอรับรหัสยืนยัน</button>
                    </div>
                    <form id="resetpassword">
                        <div class="form-group mt-4">
                            <label for="otp">OTP 6-PIN</label>
                            <input type="text" class="form-control" id="otp" placeholder="OTP 6-PIN">
                        </div>
                        <div class="form-group mt-4">
                            <label for="username">ชื่อผู้ใช้</label>
                            <input type="text" class="form-control" id="username" placeholder="Username">
                        </div>
                        <div class="form-group mt-4">
                            <label for="password">รหัสผ่านใหม่</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-4">รีเซ็ตรหัสผ่าน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $("#getotp").on("click", () => {
        let count = 60;
        $("#getotp").text(`ขอรับรหัสยืนยัน (${count})`).attr("disabled", true);


        let settings = {
            "url": "https://apicodekathon.opecgame.in.th/needresetpassword",
            "method": "post",
            "timeout": 0,
            "async": true,
            "crossDomain": true,
            "headers": {
                "Content-Type": "application/json",
            }
        };
        $.ajax(settings)

        const itv = setInterval(async () => {
            if (count <= 0) {
                await $("#getotp").text("ขอรับรหัสยืนยัน");
                await $("#getotp").removeAttr("disabled");
                return clearInterval(itv);
            }

            $("#getotp").text(`ขอรับรหัสยืนยัน (${count})`).attr("disabled", true);
            count--;
        }, 1000);
    })

    $("#resetpassword").submit(function (e) {
        e.preventDefault();
        console.log(e);
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        let key = document.getElementById("otp").value;
        let settings = {
            "url": "https://apicodekathon.opecgame.in.th/resetpassword",
            "method": "post",
            "timeout": 0,
            "async": true,
            "crossDomain": true,
            "headers": {
                "Content-Type": "application/json",
            },
            "data": JSON.stringify({
                "username": username,
                "password": password,
                "key": key
            }),
        };
        $.ajax(settings).done(function (response) {
            Swal.fire({
                "title": "ตั้งรหัสผ่านใหม่เสร็จสิ้น",
                "icon": "success",
            }).then(() => {
                window.location.replace(`/`)
            })
        }).fail(function (response) {
            Swal.fire({
                "title": "ไม่สามารถตั้งรหัสผ่านใหม่ได้",
                "text": response.responseJSON.message,
                "icon": 'error',
            })
        });
        return false
    });
</script>
<%- include("./include/footer") %>